<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePersistenceIgnoreState</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Pass Passage By!</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Annotated writing</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Passage</string>
	<key>CFBundleIconFile</key>
	<string>Passage</string>
	<key>CFBundleIdentifier</key>
	<string>com.passage.editor</string>
	<key>CFBundleName</key>
	<string>Pass Passage By!</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.5</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/gilesluong/pass-passage-by/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2TQu52Rk9gAa1rOehuN8Yw9o/WfK5ypJRck3ed3Opbo=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
